@charset "utf-8";

// Solarized Light skin
$brand-color:           #657b83 !default;
$brand-color-light:     #93a1a1 !default;
$brand-color-dark:      #586e75 !default;

$site-title-color:      #002b36 !default;

$text-color:            #657b83 !default;
$background-color:      #fdf6e3 !default;
$code-background-color: #eee8d5 !default;

$link-base-color:       #268bd2 !default;
$link-visited-color:    #6c71c4 !default;
$link-hover-color:      #002b36 !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       #eee8d5 !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      $text-color !default;
$table-zebra-color:     #eee8d5 !default;
$table-header-bg-color: #eee8d5 !default;
$table-header-border:   $brand-color-light !default;
$table-border-color:    $border-color-01 !default;

// Syntax highlighting styles for Solarized Light
.highlight {
  .c     { color: #93a1a1; font-style: italic } // Comment
  .err   { color: #dc322f } // Error
  .k     { color: #859900; font-weight: bold } // Keyword
  .o     { color: #859900; font-weight: bold } // Operator
  .cm    { color: #93a1a1; font-style: italic } // Comment.Multiline
  .cp    { color: #93a1a1; font-weight: bold } // Comment.Preproc
  .c1    { color: #93a1a1; font-style: italic } // Comment.Single
  .cs    { color: #93a1a1; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #dc322f } // Generic.Deleted
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #dc322f } // Generic.Error
  .gh    { color: #cb4b16 } // Generic.Heading
  .gi    { color: #859900 } // Generic.Inserted
  .go    { color: #657b83 } // Generic.Output
  .gp    { color: #657b83 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #cb4b16 } // Generic.Subheading
  .gt    { color: #dc322f } // Generic.Traceback
  .kc    { color: #cb4b16; font-weight: bold } // Keyword.Constant
  .kd    { color: #268bd2; font-weight: bold } // Keyword.Declaration
  .kp    { color: #859900 } // Keyword.Pseudo
  .kr    { color: #268bd2; font-weight: bold } // Keyword.Reserved
  .kt    { color: #dc322f } // Keyword.Type
  .m     { color: #2aa198 } // Literal.Number
  .s     { color: #2aa198 } // Literal.String
  .na    { color: #657b83 } // Name.Attribute
  .nb    { color: #b58900 } // Name.Builtin
  .nc    { color: #268bd2; font-weight: bold } // Name.Class
  .no    { color: #cb4b16 } // Name.Constant
  .ni    { color: #cb4b16 } // Name.Entity
  .ne    { color: #cb4b16; font-weight: bold } // Name.Exception
  .nf    { color: #268bd2; font-weight: bold } // Name.Function
  .nn    { color: #657b83 } // Name.Namespace
  .nt    { color: #268bd2 } // Name.Tag
  .nv    { color: #268bd2 } // Name.Variable
  .ow    { color: #859900; font-weight: bold } // Operator.Word
  .w     { color: #657b83 } // Text.Whitespace
  .mf    { color: #2aa198 } // Literal.Number.Float
  .mh    { color: #2aa198 } // Literal.Number.Hex
  .mi    { color: #2aa198 } // Literal.Number.Integer
  .mo    { color: #2aa198 } // Literal.Number.Oct
  .sb    { color: #93a1a1 } // Literal.String.Backtick
  .sc    { color: #2aa198 } // Literal.String.Char
  .sd    { color: #657b83 } // Literal.String.Doc
  .s2    { color: #2aa198 } // Literal.String.Double
  .se    { color: #cb4b16 } // Literal.String.Escape
  .sh    { color: #657b83 } // Literal.String.Heredoc
  .si    { color: #2aa198 } // Literal.String.Interpol
  .sx    { color: #2aa198 } // Literal.String.Other
  .sr    { color: #dc322f } // Literal.String.Regex
  .s1    { color: #2aa198 } // Literal.String.Single
  .ss    { color: #2aa198 } // Literal.String.Symbol
  .bp    { color: #268bd2 } // Name.Builtin.Pseudo
  .vc    { color: #268bd2 } // Name.Variable.Class
  .vg    { color: #268bd2 } // Name.Variable.Global
  .vi    { color: #268bd2 } // Name.Variable.Instance
  .il    { color: #2aa198 } // Literal.Number.Integer.Long
}
